# SECRET_KEY=django-insecure-your-secret-key
SECRET_KEY=django-insecure-y3mz8e((_mbpn)0&n58t#q2a$d@u2671%hr-c)4$!b!^k#u*il

DEBUG=True

DB_NAME=QuanLyMangVienThong
DB_USER=sa
DB_PASSWORD=SqlServer@12345
DB_HOST=127.0.0.1
DB_PORT=1433