USE [QuanLyMangVienThong]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_BangKPI_NhanVien]    Script Date: 6/26/2026 3:38:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER FUNCTION [dbo].[fn_BangKPI_NhanVien]()
RETURNS TABLE
AS
RETURN
(
    WITH IncidentKPI AS (
        SELECT
            NV.MaNV,
            COUNT(NL.MaLoi) AS SoSuCoDaXuLy
        FROM dbo.NhanVien AS NV
        LEFT JOIN dbo.NhatKyLoi AS NL
            ON NV.MaNV = NL.MaNV_XuLy
           AND NL.MaNV_XuLy IS NOT NULL
           AND dbo.fn_SuCoDaXuLy(NL.DaXuLy) = 1
        GROUP BY NV.MaNV
    ),
    VulnerabilityKPI AS (
        SELECT
            NV.MaNV,
            COUNT(LH.MaLH) AS SoLoHongDaXuLy
        FROM dbo.NhanVien AS NV
        LEFT JOIN dbo.LoHong AS LH
            ON NV.MaNV = LH.MaNV_XuLy
           AND LH.MaNV_XuLy IS NOT NULL
           AND dbo.fn_LoHongDaXuLy(LH.TrangThaiKhacPhuc) = 1
        GROUP BY NV.MaNV
    )
    SELECT
        NV.MaNV,
        NV.HoTen,
        ISNULL(I.SoSuCoDaXuLy, 0)     AS SoSuCoDaXuLy,
        ISNULL(V.SoLoHongDaXuLy, 0)   AS SoLoHongDaXuLy,
        ISNULL(I.SoSuCoDaXuLy, 0) + ISNULL(V.SoLoHongDaXuLy, 0) AS TongDaXuLy
    FROM dbo.NhanVien AS NV
    LEFT JOIN IncidentKPI AS I ON NV.MaNV = I.MaNV
    LEFT JOIN VulnerabilityKPI AS V ON NV.MaNV = V.MaNV
);
