USE [QuanLyMangVienThong]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_LoHongDaXuLy]    Script Date: 6/26/2026 3:40:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER FUNCTION [dbo].[fn_LoHongDaXuLy]
(
    @TrangThaiKhacPhuc NVARCHAR(20)
)
RETURNS BIT
AS
BEGIN
    DECLARE @s NVARCHAR(20) = LTRIM(RTRIM(ISNULL(@TrangThaiKhacPhuc, N'')));
    IF @s IN (N'Đã vá', N'Đã xử lý')
        RETURN 1;
    RETURN 0;
END;
