USE [QuanLyMangVienThong]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SuCoDaXuLy]    Script Date: 6/26/2026 3:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER FUNCTION [dbo].[fn_SuCoDaXuLy]
(
    @DaXuLy BIT
)
RETURNS BIT
AS
BEGIN
    IF CONVERT(INT, ISNULL(@DaXuLy, 0)) <> 0
        RETURN 1;
    RETURN 0;
END;
