USE [QuanLyMangVienThong]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddDevice]    Script Date: 6/26/2026 3:40:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[sp_AddDevice] @Ten NVARCHAR(100), @Loai NVARCHAR(50), @IP VARCHAR(15), @ViTri NVARCHAR(200) 
AS INSERT INTO ThietBi(TenTB, LoaiTB, DiaChiIP, ViTri) VALUES (@Ten, @Loai, @IP, @ViTri);
