USE [QuanLyMangVienThong]
GO
/****** Object:  StoredProcedure [dbo].[sp_Cursors]    Script Date: 6/26/2026 3:41:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[sp_Cursors]
AS
BEGIN
    SET NOCOUNT ON;

    ------------------------------------------------------------------
    -- Cursor 1 device co su co chua fix
    ------------------------------------------------------------------
    DECLARE @MaTB1 INT, @TenTB1 NVARCHAR(100), @SoMo INT;
    DECLARE @Kq1 TABLE (MaTB INT, TenTB NVARCHAR(100), SoSuCoChuaXuLy INT);

    DECLARE curso_thoi_thiet_bi CURSOR LOCAL FAST_FORWARD READ_ONLY FOR
    SELECT
        TB.MaTB,
        TB.TenTB,
        COUNT(NL.MaLoi) AS SoSuCoChuaXuLy
    FROM dbo.ThietBi AS TB
    INNER JOIN dbo.NhatKyLoi AS NL
        ON NL.MaTB = TB.MaTB
       AND ISNULL(NL.DaXuLy, 0) = 0
    GROUP BY TB.MaTB, TB.TenTB;

    OPEN curso_thoi_thiet_bi;
    FETCH NEXT FROM curso_thoi_thiet_bi INTO @MaTB1, @TenTB1, @SoMo;
    WHILE @@FETCH_STATUS = 0
    BEGIN
        INSERT INTO @Kq1 (MaTB, TenTB, SoSuCoChuaXuLy) VALUES (@MaTB1, @TenTB1, @SoMo);
        FETCH NEXT FROM curso_thoi_thiet_bi INTO @MaTB1, @TenTB1, @SoMo;
    END;
    CLOSE curso_thoi_thiet_bi;
    DEALLOCATE curso_thoi_thiet_bi;

    SELECT N'Cursor 1 — Thiết bị có sự cố mở' AS TenBaoCao, * FROM @Kq1 ORDER BY SoSuCoChuaXuLy DESC, TenTB;

    ------------------------------------------------------------------
    -- Cursor 2 su co network chua xu ly
    ------------------------------------------------------------------
    DECLARE @MaLoi INT, @MaTB2 INT, @MoTa NVARCHAR(200), @MucDo INT;
    DECLARE @Kq2 TABLE (MaLoi INT, MaTB INT, MoTaTomTat NVARCHAR(200), MucDoNghiemTrong INT);

    DECLARE curso_thoi_nhat_ky CURSOR LOCAL FAST_FORWARD READ_ONLY FOR
    SELECT NL.MaLoi, NL.MaTB, LEFT(ISNULL(NL.MoTaLoi, N''), 200), ISNULL(NL.MucDoNghiemTrong, 0)
    FROM dbo.NhatKyLoi AS NL
    WHERE ISNULL(NL.DaXuLy, 0) = 0;

    OPEN curso_thoi_nhat_ky;
    FETCH NEXT FROM curso_thoi_nhat_ky INTO @MaLoi, @MaTB2, @MoTa, @MucDo;
    WHILE @@FETCH_STATUS = 0
    BEGIN
        INSERT INTO @Kq2 (MaLoi, MaTB, MoTaTomTat, MucDoNghiemTrong) VALUES (@MaLoi, @MaTB2, @MoTa, @MucDo);
        FETCH NEXT FROM curso_thoi_nhat_ky INTO @MaLoi, @MaTB2, @MoTa, @MucDo;
    END;
    CLOSE curso_thoi_nhat_ky;
    DEALLOCATE curso_thoi_nhat_ky;

    SELECT N'Cursor 2 — Nhật ký chưa xử lý' AS TenBaoCao, * FROM @Kq2 ORDER BY MucDoNghiemTrong DESC, MaLoi DESC;

    ------------------------------------------------------------------
    -- Cursor 3 lo hong bao mat chua fix
    ------------------------------------------------------------------
    DECLARE @MaLH INT, @TenLH NVARCHAR(200), @TrangThai NVARCHAR(20);
    DECLARE @Kq3 TABLE (MaLH INT, TenLoHong NVARCHAR(200), TrangThaiKhacPhuc NVARCHAR(20));

    DECLARE curso_thoi_lo_hong CURSOR LOCAL FAST_FORWARD READ_ONLY FOR
    SELECT LH.MaLH, LH.TenLoHong, ISNULL(LH.TrangThaiKhacPhuc, N'')
    FROM dbo.LoHong AS LH
    WHERE LTRIM(RTRIM(ISNULL(LH.TrangThaiKhacPhuc, N''))) NOT IN (N'Đã vá', N'Đã xử lý');

    OPEN curso_thoi_lo_hong;
    FETCH NEXT FROM curso_thoi_lo_hong INTO @MaLH, @TenLH, @TrangThai;
    WHILE @@FETCH_STATUS = 0
    BEGIN
        INSERT INTO @Kq3 (MaLH, TenLoHong, TrangThaiKhacPhuc) VALUES (@MaLH, @TenLH, @TrangThai);
        FETCH NEXT FROM curso_thoi_lo_hong INTO @MaLH, @TenLH, @TrangThai;
    END;
    CLOSE curso_thoi_lo_hong;
    DEALLOCATE curso_thoi_lo_hong;

    SELECT N'Cursor 3 — Lỗ hổng chưa vá / chưa xử lý' AS TenBaoCao, * FROM @Kq3 ORDER BY MaLH;

    ------------------------------------------------------------------
    -- Cursor 4 : so luong nhan vien da xu ly su co
    ------------------------------------------------------------------
    DECLARE @MaNV INT, @HoTen NVARCHAR(100), @cnt INT;
    DECLARE @Kq4 TABLE (MaNV INT, HoTen NVARCHAR(100), SoSuCoDaDong INT);

    DECLARE curso_thoi_nhan_vien CURSOR LOCAL FAST_FORWARD READ_ONLY FOR
    SELECT MaNV, HoTen FROM dbo.NhanVien ORDER BY HoTen;

    OPEN curso_thoi_nhan_vien;
    FETCH NEXT FROM curso_thoi_nhan_vien INTO @MaNV, @HoTen;
    WHILE @@FETCH_STATUS = 0
    BEGIN
        SELECT @cnt = COUNT(*)
        FROM dbo.NhatKyLoi AS NL
        WHERE NL.MaNV_XuLy = @MaNV AND ISNULL(NL.DaXuLy, 0) <> 0;

        INSERT INTO @Kq4 (MaNV, HoTen, SoSuCoDaDong) VALUES (@MaNV, @HoTen, ISNULL(@cnt, 0));
        FETCH NEXT FROM curso_thoi_nhan_vien INTO @MaNV, @HoTen;
    END;
    CLOSE curso_thoi_nhan_vien;
    DEALLOCATE curso_thoi_nhan_vien;

    SELECT N'Cursor 4 — Nhân viên & số sự cố đã đóng' AS TenBaoCao, * FROM @Kq4 ORDER BY SoSuCoDaDong DESC, HoTen;
END;
