USE [QuanLyMangVienThong]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteDevice]    Script Date: 6/26/2026 3:41:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ---------------------------------------------------------
   SP 6: Xoa thiet bi thong qua trigger
   --------------------------------------------------------- */
ALTER   PROCEDURE [dbo].[sp_DeleteDevice]
    @MaTB INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM dbo.ThietBi WHERE MaTB = @MaTB;
END;
