USE [QuanLyMangVienThong]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmployeeKPI]    Script Date: 6/26/2026 3:42:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[sp_GetEmployeeKPI] 
AS SELECT NV.HoTen, COUNT(L.MaLoi) AS SoSuCoDaXuLy FROM NhanVien NV LEFT JOIN NhatKyLoi L ON NV.MaNV = L.MaNV_XuLy GROUP BY NV.HoTen;
