USE [QuanLyMangVienThong]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetErrorTrend]    Script Date: 6/26/2026 3:42:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_GetErrorTrend]
AS
BEGIN
    SELECT 
        CAST(ThoiGianLoi AS DATE) AS Ngay,
        COUNT(*) AS TongSoSuCo,
        AVG(CAST(MucDoNghiemTrong AS FLOAT)) AS MucDoTrungBinh,
        COUNT(CASE WHEN MucDoNghiemTrong >= 4 THEN 1 END) AS Critical,
        COUNT(CASE WHEN MucDoNghiemTrong >= 3 AND MucDoNghiemTrong < 4 THEN 1 END) AS High,
        COUNT(CASE WHEN MucDoNghiemTrong >= 2 AND MucDoNghiemTrong < 3 THEN 1 END) AS Medium,
        COUNT(CASE WHEN MucDoNghiemTrong < 2 THEN 1 END) AS Low
    FROM NhatKyLoi
    WHERE ThoiGianLoi IS NOT NULL
    GROUP BY CAST(ThoiGianLoi AS DATE)
    ORDER BY Ngay DESC
END
