USE [QuanLyMangVienThong];


GO
/****** Object:  StoredProcedure [dbo].[sp_GetVulnerabilityMap]    Script Date: 6/26/2026 3:43:41 PM ******/
SET ANSI_NULLS ON;


GO
SET QUOTED_IDENTIFIER ON;


GO
ALTER PROCEDURE [dbo].[sp_GetVulnerabilityMap]
AS
BEGIN
    SELECT   T.TenTB,
             COUNT(CASE WHEN L.MucDo = 'Critical' THEN 1 END) AS CriticalCount,
             COUNT(CASE WHEN L.MucDo = 'High' THEN 1 END) AS HighCount,
             COUNT(CASE WHEN L.MucDo = 'Medium' THEN 1 END) AS MediumCount,
             COUNT(CASE WHEN L.MucDo = 'Low' THEN 1 END) AS LowCount
    FROM     ThietBi AS T
             LEFT OUTER JOIN
             LoHong AS L
             ON T.MaTB = L.MaTB
    GROUP BY T.TenTB;
END