USE [QuanLyMangVienThong]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPerformance]    Script Date: 6/26/2026 3:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ---------------------------------------------------------
   SP 5: Lay chi so hieu suat (cho tab Chi so hieu suat)
   --------------------------------------------------------- */
ALTER   PROCEDURE [dbo].[sp_GetPerformance]
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH LatestPerf AS (
        SELECT
            C.MaCS,
            C.MaTB,
            C.ThoiGianGhiNhan,
            C.DoTre,
            C.MatGoi,
            C.BangThongSuDung,
            ROW_NUMBER() OVER (
                PARTITION BY C.MaTB
                ORDER BY C.ThoiGianGhiNhan DESC, C.MaCS DESC
            ) AS rn
        FROM dbo.ChiSoHieuSuat C
    )
    SELECT
        LP.MaCS,
        LP.MaTB,
        T.TenTB,
        LP.ThoiGianGhiNhan,
        LP.DoTre,
        LP.MatGoi,
        LP.BangThongSuDung
    FROM LatestPerf LP
    LEFT JOIN dbo.ThietBi T ON LP.MaTB = T.MaTB
    WHERE LP.rn = 1
    ORDER BY LP.ThoiGianGhiNhan DESC, LP.MaCS DESC;
END;
