USE [QuanLyMangVienThong]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLinks]    Script Date: 6/26/2026 3:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ---------------------------------------------------------
   SP 2: Lay danh sach lien ket thiet bi (cho tab Lien ket)
   --------------------------------------------------------- */
ALTER   PROCEDURE [dbo].[sp_GetLinks]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        L.MaLK,
        L.MaTB_Goc,
        L.MaTB_Dich,
        L.BangThongToiDa,
        T1.TenTB AS TenTB_Goc,
        T2.TenTB AS TenTB_Dich
    FROM dbo.LienKet L
    LEFT JOIN dbo.ThietBi T1 ON L.MaTB_Goc = T1.MaTB
    LEFT JOIN dbo.ThietBi T2 ON L.MaTB_Dich = T2.MaTB
    ORDER BY L.MaLK DESC;
END;
