USE [QuanLyMangVienThong]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetErrorLog]    Script Date: 6/26/2026 3:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ---------------------------------------------------------
   SP 4: Lay nhat ky loi (cho tab Nhat ky loi)
   --------------------------------------------------------- */
ALTER   PROCEDURE [dbo].[sp_GetErrorLog]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        N.MaLoi,
        N.MaTB,
        N.ThoiGianLoi,
        N.MoTaLoi,
        N.MucDoNghiemTrong,
        N.MaNV_XuLy,
        T.TenTB,
        NV.HoTen
    FROM dbo.NhatKyLoi N
    LEFT JOIN dbo.ThietBi T ON N.MaTB = T.MaTB
    LEFT JOIN dbo.NhanVien NV ON N.MaNV_XuLy = NV.MaNV
    ORDER BY N.ThoiGianLoi DESC, N.MaLoi DESC;
END;
