USE [QuanLyMangVienThong]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetErrorBySeverity]    Script Date: 6/26/2026 3:42:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_GetErrorBySeverity]
AS
BEGIN
    SELECT 
        MucDoNghiemTrong AS Severity,
        COUNT(*) AS SoLuongSuCo,
        CASE 
            WHEN MucDoNghiemTrong >= 4 THEN 'Critical'
            WHEN MucDoNghiemTrong >= 3 THEN 'High'
            WHEN MucDoNghiemTrong >= 2 THEN 'Medium'
            ELSE 'Low'
        END AS MucDo
    FROM NhatKyLoi
    WHERE MucDoNghiemTrong IS NOT NULL
    GROUP BY MucDoNghiemTrong
    ORDER BY MucDoNghiemTrong DESC
END
