USE [QuanLyMangVienThong]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStatusSummary]    Script Date: 6/26/2026 3:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[sp_GetStatusSummary] 
AS SELECT TrangThai, COUNT(*) AS SoLuong FROM ThietBi GROUP BY TrangThai;
