USE [QuanLyMangVienThong]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmployees]    Script Date: 6/26/2026 3:42:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[sp_GetEmployees]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        MaNV,
        HoTen,
        Email,
        SoDienThoai,
        VaiTro,
        ChuyenMon
    FROM dbo.NhanVien
    ORDER BY MaNV DESC;
END;
