USE [QuanLyMangVienThong]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAvailability]    Script Date: 6/26/2026 3:41:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[sp_GetAvailability] 
AS SELECT T.TenTB, CAST(COUNT(CASE WHEN C.MatGoi < 100 THEN 1 END) * 100.0 / NULLIF(COUNT(C.MaCS),0) AS DECIMAL(5,2)) AS UptimePercent FROM ThietBi T LEFT JOIN ChiSoHieuSuat C ON T.MaTB = C.MaTB GROUP BY T.TenTB;
