USE [QuanLyMangVienThong]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetVulnerabilities]    Script Date: 6/26/2026 3:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ---------------------------------------------------------
   SP 3: Lay danh sach lo hong bao mat (cho tab Lo hong)
   --------------------------------------------------------- */
ALTER   PROCEDURE [dbo].[sp_GetVulnerabilities]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        L.MaLH,
        L.MaTB,
        T.TenTB,
        L.TenLoHong,
        L.MucDo,
        L.TrangThaiKhacPhuc,
        L.ThoiGianXayRaSuCo,
        L.ThoiGianXuLySuCo
    FROM dbo.LoHong L
    LEFT JOIN dbo.ThietBi T ON L.MaTB = T.MaTB
    ORDER BY L.MaLH DESC;
END;
