USE [QuanLyMangVienThong]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTopEmployees]    Script Date: 6/26/2026 3:43:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_GetTopEmployees]
AS
BEGIN
    SELECT TOP 5
        NV.HoTen,
        NV.Email,
        NV.VaiTro,
        COUNT(N.MaLoi) AS TongSoSuCo,
        CAST(AVG(CAST(N.MucDoNghiemTrong AS FLOAT)) AS DECIMAL(5,2)) AS MucDoTrungBinh
    FROM NhanVien NV
    LEFT JOIN NhatKyLoi N ON NV.MaNV = N.MaNV_XuLy
    GROUP BY NV.MaNV, NV.HoTen, NV.Email, NV.VaiTro
    ORDER BY TongSoSuCo DESC
END
