USE [QuanLyMangVienThong]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetVulnStatus]    Script Date: 6/26/2026 3:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_GetVulnStatus]
AS
BEGIN
    SELECT 
        TrangThaiKhacPhuc AS TrangThai,
        COUNT(*) AS SoLuong,
        CAST(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM LoHong) AS DECIMAL(5,2)) AS PhanTram
    FROM LoHong
    WHERE TrangThaiKhacPhuc IS NOT NULL
    GROUP BY TrangThaiKhacPhuc
    ORDER BY SoLuong DESC
END
