USE [QuanLyMangVienThong]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDevices]    Script Date: 6/26/2026 3:41:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ---------------------------------------------------------
   SP 1: Lay danh sach thiet bi (cho tab Quan ly Thiet bi)
   --------------------------------------------------------- */
ALTER   PROCEDURE [dbo].[sp_GetDevices]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        MaTB,
        TenTB,
        LoaiTB,
        DiaChiIP,
        ViTri,
        TrangThai
    FROM dbo.ThietBi
    ORDER BY MaTB DESC;
END;
