USE [QuanLyMangVienThong]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCapacityPlanning]    Script Date: 6/26/2026 3:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[sp_GetCapacityPlanning] 
AS SELECT T.TenTB, L.BangThongToiDa, AVG(C.BangThongSuDung) AS AvgUsed FROM ThietBi T JOIN LienKet L ON T.MaTB = L.MaTB_Goc JOIN ChiSoHieuSuat C ON T.MaTB = C.MaTB GROUP BY T.TenTB, L.BangThongToiDa;
