USE [QuanLyMangVienThong]
GO
/****** Object:  StoredProcedure [dbo].[sp_ImportNhatKyLoi_Json]    Script Date: 6/26/2026 3:44:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_ImportNhatKyLoi_Json]
    @Json NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    IF @Json IS NULL OR LTRIM(RTRIM(@Json)) = N'' OR @Json = N'[]'
    BEGIN
        SELECT CAST(0 AS INT) AS SoDongThemThanhCong, CAST(0 AS INT) AS SoDongLoi;
        SELECT CAST(NULL AS INT) AS DongTrongFile, CAST(NULL AS NVARCHAR(4000)) AS ThongBaoLoi WHERE 1 = 0;
        RETURN;
    END;

    DECLARE @HasHT BIT = IIF(COL_LENGTH('dbo.NhatKyLoi', 'ThoiGianHoanThanh') IS NULL, 0, 1);

    DECLARE @Err2 TABLE (
        RowNum INT NOT NULL PRIMARY KEY,
        Msg NVARCHAR(4000) NOT NULL
    );

    IF OBJECT_ID('tempdb..#srcNK') IS NOT NULL DROP TABLE #srcNK;

    SELECT
        CAST(j.[key] AS INT) + 1 AS RowNum,
        x.MaTB,
        x.MoTaLoi,
        x.MucDoNghiemTrong,
        x.MaNV_XuLy,
        x.DaXuLy,
        x.ThoiGianLoi,
        x.ThoiGianHoanThanh
    INTO #srcNK
    FROM OPENJSON(@Json) AS j
    CROSS APPLY OPENJSON(j.value) WITH (
        MaTB INT,
        MoTaLoi NVARCHAR(2000),
        MucDoNghiemTrong INT,
        MaNV_XuLy INT,
        DaXuLy BIT,
        ThoiGianLoi DATETIME2(0),
        ThoiGianHoanThanh DATETIME2(0)
    ) AS x;

    INSERT INTO @Err2 (RowNum, Msg)
    SELECT s.RowNum, N'Thiếu hoặc không hợp lệ MaTB (thiết bị).'
    FROM #srcNK s
    WHERE s.MaTB IS NULL OR NOT EXISTS (SELECT 1 FROM dbo.ThietBi t WHERE t.MaTB = s.MaTB);

    INSERT INTO @Err2 (RowNum, Msg)
    SELECT s.RowNum, N'Thiếu MoTaLoi.'
    FROM #srcNK s
    WHERE NOT EXISTS (SELECT 1 FROM @Err2 e WHERE e.RowNum = s.RowNum)
      AND (s.MoTaLoi IS NULL OR LTRIM(RTRIM(s.MoTaLoi)) = N'');

    INSERT INTO @Err2 (RowNum, Msg)
    SELECT s.RowNum, N'MaNV_XuLy không tồn tại trong NhanVien.'
    FROM #srcNK s
    WHERE s.MaNV_XuLy IS NOT NULL
      AND NOT EXISTS (SELECT 1 FROM @Err2 e WHERE e.RowNum = s.RowNum)
      AND NOT EXISTS (SELECT 1 FROM dbo.NhanVien nv WHERE nv.MaNV = s.MaNV_XuLy);

    DECLARE @rn2 INT, @MaTB2 INT, @MoTa NVARCHAR(2000), @Muc2 INT, @MaNV2 INT, @Da BIT;
    DECLARE @TLoi DATETIME2(0), @THoan DATETIME2(0);
    DECLARE @ok2 INT = 0;

    DECLARE curNK CURSOR LOCAL FAST_FORWARD FOR
        SELECT
            s.RowNum,
            s.MaTB,
            LEFT(LTRIM(RTRIM(s.MoTaLoi)), 2000),
            CASE
                WHEN s.MucDoNghiemTrong IS NULL OR s.MucDoNghiemTrong < 1 THEN 1
                WHEN s.MucDoNghiemTrong > 5 THEN 5
                ELSE s.MucDoNghiemTrong
            END,
            s.MaNV_XuLy,
            CAST(ISNULL(s.DaXuLy, 0) AS BIT),
            s.ThoiGianLoi,
            s.ThoiGianHoanThanh
        FROM #srcNK s
        WHERE NOT EXISTS (SELECT 1 FROM @Err2 e WHERE e.RowNum = s.RowNum)
        ORDER BY s.RowNum;

    OPEN curNK;
    FETCH NEXT FROM curNK INTO @rn2, @MaTB2, @MoTa, @Muc2, @MaNV2, @Da, @TLoi, @THoan;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        IF @TLoi IS NULL
            SET @TLoi = SYSUTCDATETIME();

        IF @Da = 1 AND @HasHT = 1 AND @THoan IS NULL
            SET @THoan = SYSUTCDATETIME();

        BEGIN TRY
            IF @HasHT = 1
            BEGIN
                INSERT INTO dbo.NhatKyLoi (MaTB, MoTaLoi, MucDoNghiemTrong, MaNV_XuLy, DaXuLy, ThoiGianLoi, ThoiGianHoanThanh)
                VALUES (
                    @MaTB2,
                    @MoTa,
                    @Muc2,
                    @MaNV2,
                    @Da,
                    @TLoi,
                    CASE WHEN @Da = 1 THEN @THoan ELSE NULL END
                );
            END
            ELSE
            BEGIN
                INSERT INTO dbo.NhatKyLoi (MaTB, MoTaLoi, MucDoNghiemTrong, MaNV_XuLy, DaXuLy, ThoiGianLoi)
                VALUES (@MaTB2, @MoTa, @Muc2, @MaNV2, @Da, @TLoi);
            END;

            SET @ok2 += 1;
        END TRY
        BEGIN CATCH
            IF NOT EXISTS (SELECT 1 FROM @Err2 e WHERE e.RowNum = @rn2)
                INSERT INTO @Err2 (RowNum, Msg) VALUES (@rn2, ERROR_MESSAGE());
        END CATCH;

        FETCH NEXT FROM curNK INTO @rn2, @MaTB2, @MoTa, @Muc2, @MaNV2, @Da, @TLoi, @THoan;
    END;

    CLOSE curNK;
    DEALLOCATE curNK;

    DECLARE @ec2 INT = (SELECT COUNT(*) FROM @Err2);
    SELECT @ok2 AS SoDongThemThanhCong, @ec2 AS SoDongLoi;

    SELECT RowNum AS DongTrongFile, Msg AS ThongBaoLoi
    FROM @Err2
    ORDER BY RowNum;
END;
