USE [QuanLyMangVienThong]
GO
/****** Object:  StoredProcedure [dbo].[sp_ImportLoHong_Json]    Script Date: 6/26/2026 3:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_ImportLoHong_Json]
    @Json NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    IF @Json IS NULL OR LTRIM(RTRIM(@Json)) = N'' OR @Json = N'[]'
    BEGIN
        SELECT CAST(0 AS INT) AS SoDongThemThanhCong, CAST(0 AS INT) AS SoDongLoi;
        SELECT CAST(NULL AS INT) AS DongTrongFile, CAST(NULL AS NVARCHAR(4000)) AS ThongBaoLoi WHERE 1 = 0;
        RETURN;
    END;

    DECLARE @HasIT BIT = IIF(COL_LENGTH('dbo.LoHong', 'ThoiGianXayRaSuCo') IS NULL, 0, 1);
    DECLARE @HasHT BIT = IIF(COL_LENGTH('dbo.LoHong', 'ThoiGianXuLySuCo') IS NULL, 0, 1);
    DECLARE @HasNV BIT = IIF(COL_LENGTH('dbo.LoHong', 'MaNV_XuLy') IS NULL, 0, 1);

    DECLARE @Err TABLE (
        RowNum INT NOT NULL PRIMARY KEY,
        Msg NVARCHAR(4000) NOT NULL
    );

    IF OBJECT_ID('tempdb..#srcLH') IS NOT NULL DROP TABLE #srcLH;

    SELECT
        CAST(j.[key] AS INT) + 1 AS RowNum,
        x.MaTB,
        x.TenLoHong,
        x.MucDo,
        x.TrangThaiKhacPhuc,
        x.MaNV_XuLy,
        x.ThoiGianXayRaSuCo,
        x.ThoiGianXuLySuCo
    INTO #srcLH
    FROM OPENJSON(@Json) AS j
    CROSS APPLY OPENJSON(j.value) WITH (
        MaTB INT,
        TenLoHong NVARCHAR(200),
        MucDo NVARCHAR(50),
        TrangThaiKhacPhuc NVARCHAR(50),
        MaNV_XuLy INT,
        ThoiGianXayRaSuCo DATETIME2(0),
        ThoiGianXuLySuCo DATETIME2(0)
    ) AS x;

    INSERT INTO @Err (RowNum, Msg)
    SELECT s.RowNum, N'Thiếu hoặc không hợp lệ MaTB (thiết bị).'
    FROM #srcLH s
    WHERE s.MaTB IS NULL OR NOT EXISTS (SELECT 1 FROM dbo.ThietBi t WHERE t.MaTB = s.MaTB);

    INSERT INTO @Err (RowNum, Msg)
    SELECT s.RowNum, N'Thiếu TenLoHong.'
    FROM #srcLH s
    WHERE NOT EXISTS (SELECT 1 FROM @Err e WHERE e.RowNum = s.RowNum)
      AND (s.TenLoHong IS NULL OR LTRIM(RTRIM(s.TenLoHong)) = N'');

    INSERT INTO @Err (RowNum, Msg)
    SELECT s.RowNum, N'Thiếu MucDo.'
    FROM #srcLH s
    WHERE NOT EXISTS (SELECT 1 FROM @Err e WHERE e.RowNum = s.RowNum)
      AND (s.MucDo IS NULL OR LTRIM(RTRIM(s.MucDo)) = N'');

    INSERT INTO @Err (RowNum, Msg)
    SELECT s.RowNum, N'MaNV_XuLy không tồn tại trong NhanVien.'
    FROM #srcLH s
    WHERE @HasNV = 1
      AND s.MaNV_XuLy IS NOT NULL
      AND NOT EXISTS (SELECT 1 FROM @Err e WHERE e.RowNum = s.RowNum)
      AND NOT EXISTS (SELECT 1 FROM dbo.NhanVien nv WHERE nv.MaNV = s.MaNV_XuLy);

    DECLARE @rn INT, @MaTB INT, @Ten NVARCHAR(200), @Muc NVARCHAR(50), @TT NVARCHAR(50);
    DECLARE @MaNV INT, @T1 DATETIME2(0), @T2 DATETIME2(0);
    DECLARE @ok INT = 0;
    DECLARE @newId INT;

    DECLARE curLH CURSOR LOCAL FAST_FORWARD FOR
        SELECT
            s.RowNum,
            s.MaTB,
            LTRIM(RTRIM(s.TenLoHong)),
            LTRIM(RTRIM(s.MucDo)),
            LTRIM(RTRIM(ISNULL(s.TrangThaiKhacPhuc, N'Chưa vá'))),
            s.MaNV_XuLy,
            s.ThoiGianXayRaSuCo,
            s.ThoiGianXuLySuCo
        FROM #srcLH s
        WHERE NOT EXISTS (SELECT 1 FROM @Err e WHERE e.RowNum = s.RowNum)
        ORDER BY s.RowNum;

    OPEN curLH;
    FETCH NEXT FROM curLH INTO @rn, @MaTB, @Ten, @Muc, @TT, @MaNV, @T1, @T2;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        IF @HasNV = 1 AND @MaNV IS NOT NULL AND @TT = N'Chưa vá'
            SET @TT = N'Đang xử lý';

        IF @TT <> N'Đã vá'
            SET @T2 = NULL;
        ELSE IF @T2 IS NULL
            SET @T2 = ISNULL(@T1, SYSUTCDATETIME());

        IF @HasIT = 1 AND @T1 IS NULL
            SET @T1 = SYSUTCDATETIME();

        BEGIN TRY
            IF @HasIT = 1 AND @HasHT = 1
            BEGIN
                INSERT INTO dbo.LoHong (MaTB, TenLoHong, MucDo, TrangThaiKhacPhuc, ThoiGianXayRaSuCo, ThoiGianXuLySuCo)
                VALUES (@MaTB, @Ten, @Muc, @TT, @T1, @T2);
            END
            ELSE
            BEGIN
                INSERT INTO dbo.LoHong (MaTB, TenLoHong, MucDo, TrangThaiKhacPhuc)
                VALUES (@MaTB, @Ten, @Muc, @TT);
            END;

            IF @HasNV = 1 AND @MaNV IS NOT NULL
            BEGIN
                SET @newId = CAST(SCOPE_IDENTITY() AS INT);
                UPDATE dbo.LoHong SET MaNV_XuLy = @MaNV WHERE MaLH = @newId;
            END;

            SET @ok += 1;
        END TRY
        BEGIN CATCH
            IF NOT EXISTS (SELECT 1 FROM @Err e WHERE e.RowNum = @rn)
                INSERT INTO @Err (RowNum, Msg) VALUES (@rn, ERROR_MESSAGE());
        END CATCH;

        FETCH NEXT FROM curLH INTO @rn, @MaTB, @Ten, @Muc, @TT, @MaNV, @T1, @T2;
    END;

    CLOSE curLH;
    DEALLOCATE curLH;

    DECLARE @ec INT = (SELECT COUNT(*) FROM @Err);
    SELECT @ok AS SoDongThemThanhCong, @ec AS SoDongLoi;

    SELECT RowNum AS DongTrongFile, Msg AS ThongBaoLoi
    FROM @Err
    ORDER BY RowNum;
END;
