USE [QuanLyMangVienThong]
GO
/****** Object:  StoredProcedure [dbo].[sp_Login]    Script Date: 6/26/2026 3:44:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6. Login
ALTER   PROCEDURE [dbo].[sp_Login] @Email VARCHAR(100), @Password VARCHAR(15) 
AS SELECT MaNV, HoTen, VaiTro FROM NhanVien WHERE Email = @Email AND SoDienThoai = @Password;
