USE [QuanLyMangVienThong]
GO
/****** Object:  Trigger [dbo].[trg_BlockDeleteVulnerability_Unresolved]    Script Date: 6/26/2026 3:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ---------------------------------------------------------
   - Chan xoa lo hong neu TrangThaiKhacPhuc:
     + Chưa vá
     + Đang xử lý
   - Chi cho xoa khi da xu ly xong
   --------------------------------------------------------- */
ALTER   TRIGGER [dbo].[trg_BlockDeleteVulnerability_Unresolved]
ON [dbo].[LoHong]
INSTEAD OF DELETE
AS
BEGIN
    SET NOCOUNT ON;

    IF CONTEXT_INFO() = 0x4E474154
    BEGIN
        DELETE l
        FROM dbo.LoHong l
        JOIN deleted d ON l.MaLH = d.MaLH;
        RETURN;
    END;

    IF EXISTS (
        SELECT 1
        FROM deleted d
        JOIN dbo.LoHong l ON l.MaLH = d.MaLH
        WHERE l.TrangThaiKhacPhuc IN (N'Chưa vá', N'Đang xử lý')
    )
    BEGIN
        RAISERROR (N'Khong duoc xoa lo hong khi chua xu ly xong (Chua va/Dang xu ly).', 16, 1);
        RETURN;
    END;

    DELETE l
    FROM dbo.LoHong l
    JOIN deleted d ON l.MaLH = d.MaLH;
END;
