USE [QuanLyMangVienThong]
GO
/****** Object:  Trigger [dbo].[trg_LimitEmployeeVulnerabilityCases]    Script Date: 6/26/2026 3:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ---------------------------------------------------------
    - Trigger INSERT/UPDATE tren bang LoHong.
   - Ngăn chặn nhân viên được gán quá 3 lỗ hổng CHƯA HOÀN TẤT.
   --------------------------------------------------------- */
ALTER   TRIGGER [dbo].[trg_LimitEmployeeVulnerabilityCases]
ON [dbo].[LoHong]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF COL_LENGTH('dbo.LoHong', 'MaNV_XuLy') IS NULL
        RETURN;

    IF EXISTS (
        SELECT TOP 1 l.MaNV_XuLy
        FROM dbo.LoHong l
        WHERE l.MaNV_XuLy IN (
            SELECT DISTINCT i.MaNV_XuLy
            FROM inserted i
            WHERE i.MaNV_XuLy IS NOT NULL
              AND ISNULL(i.TrangThaiKhacPhuc, N'Chưa vá') IN (N'Chưa vá', N'Đang xử lý')
        )
          AND ISNULL(l.TrangThaiKhacPhuc, N'Chưa vá') IN (N'Chưa vá', N'Đang xử lý')
        GROUP BY l.MaNV_XuLy
        HAVING COUNT(*) > 3
    )
    BEGIN
        RAISERROR (N'Khong the phan cong lo hong: moi nhan vien chi duoc xu ly toi da 3 case chua hoan tat.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END;
END;
