USE [QuanLyMangVienThong]
GO
/****** Object:  Trigger [dbo].[trg_AutoIncident_FromPerformance]    Script Date: 6/26/2026 3:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
  Trigger tự động sinh sự cố từ chỉ số hiệu suất:
  - Nếu MatGoi > 10 (%) HOẶC DoTre > 200 (ms) sẽ tạo bản ghi trong NhatKyLoi
  - Không tạo trùng nếu thiết bị đang có sự cố chưa xử lý (DaXuLy = 0)
*/

ALTER   TRIGGER [dbo].[trg_AutoIncident_FromPerformance]
ON [dbo].[ChiSoHieuSuat]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH AlertRows AS (
        SELECT
            i.MaTB,
            i.ThoiGianGhiNhan,
            i.DoTre,
            i.MatGoi
        FROM inserted i
        INNER JOIN dbo.ThietBi tb ON tb.MaTB = i.MaTB
        WHERE i.MaTB IS NOT NULL
          AND ISNULL(tb.TrangThai, N'Hoạt động') = N'Hoạt động'
          AND (
                ISNULL(i.MatGoi, 0) > 10
             OR ISNULL(i.DoTre, 0) > 200
          )
    )
    INSERT INTO dbo.NhatKyLoi (
        MaTB,
        ThoiGianLoi,
        MoTaLoi,
        MucDoNghiemTrong,
        MaNV_XuLy,
        DaXuLy
    )
    SELECT
        a.MaTB,
        ISNULL(a.ThoiGianGhiNhan, GETDATE()) AS ThoiGianLoi,
        CONCAT(
            N'Tự động phát hiện hiệu suất bất thường : ',
            N'Độ trễ = ', CAST(ISNULL(a.DoTre, 0) AS NVARCHAR(30)), N' ms, ',
            N'Mất gói = ', CAST(ISNULL(a.MatGoi, 0) AS NVARCHAR(30)), N'%.'
        ) AS MoTaLoi,
        CASE
            WHEN ISNULL(a.MatGoi, 0) > 20 OR ISNULL(a.DoTre, 0) > 400 THEN 5
            WHEN ISNULL(a.MatGoi, 0) > 10 OR ISNULL(a.DoTre, 0) > 200 THEN 4
            ELSE 3
        END AS MucDoNghiemTrong,
        NULL AS MaNV_XuLy,
        0 AS DaXuLy
    FROM AlertRows a
    WHERE NOT EXISTS (
        SELECT 1
        FROM dbo.NhatKyLoi n
        WHERE n.MaTB = a.MaTB
          AND ISNULL(n.DaXuLy, 0) = 0
    );
END;
