USE [QuanLyMangVienThong]
GO
/****** Object:  Trigger [dbo].[trg_BlockDeleteErrorLog_WhenUnresolved]    Script Date: 6/26/2026 3:45:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   Trigger: chi cho xoa su co khi DaXuLy = 1
   ========================================================= */
ALTER   TRIGGER [dbo].[trg_BlockDeleteErrorLog_WhenUnresolved]
ON [dbo].[NhatKyLoi]
INSTEAD OF DELETE
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM deleted d
        JOIN dbo.NhatKyLoi n ON n.MaLoi = d.MaLoi
        WHERE ISNULL(n.DaXuLy, 0) = 0
    )
    BEGIN
        RAISERROR (N'Chi duoc xoa su co khi da xu ly.', 16, 1);
        RETURN;
    END;

    DELETE n
    FROM dbo.NhatKyLoi n
    JOIN deleted d ON n.MaLoi = d.MaLoi;
END;
