USE [QuanLyMangVienThong]
GO
/****** Object:  Trigger [dbo].[trg_BlockDeleteAdminEmployee]    Script Date: 6/26/2026 3:46:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   TRIGGER [dbo].[trg_BlockDeleteAdminEmployee]
ON [dbo].[NhanVien]
INSTEAD OF DELETE
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM deleted d
        JOIN dbo.NhanVien nv ON nv.MaNV = d.MaNV
        WHERE nv.VaiTro = N'Admin'
    )
    BEGIN
        RAISERROR (N'Khong duoc xoa nhan vien co vai tro Admin.', 16, 1);
        RETURN;
    END;

    UPDATE nkl
    SET nkl.MaNV_XuLy = NULL
    FROM dbo.NhatKyLoi nkl
    JOIN deleted d ON nkl.MaNV_XuLy = d.MaNV;

    IF COL_LENGTH('dbo.LoHong', 'MaNV_XuLy') IS NOT NULL
    BEGIN
        UPDATE l
        SET l.MaNV_XuLy = NULL
        FROM dbo.LoHong l
        JOIN deleted d ON l.MaNV_XuLy = d.MaNV;
    END;

    IF COL_LENGTH('dbo.LienKet', 'MaNV_Tao') IS NOT NULL
    BEGIN
        UPDATE lk
        SET lk.MaNV_Tao = NULL
        FROM dbo.LienKet lk
        JOIN deleted d ON lk.MaNV_Tao = d.MaNV;
    END;

    DELETE nv
    FROM dbo.NhanVien nv
    JOIN deleted d ON nv.MaNV = d.MaNV;
END;
