USE [QuanLyMangVienThong]
GO
/****** Object:  Trigger [dbo].[trg_ValidateDeviceTypeByName]    Script Date: 6/26/2026 3:45:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
  Trigger kiểm tra đồng bộ Tên thiết bị và Loại thiết bị trong ThietBi:
  - Nếu tên bắt đầu bằng "Router" thì LoaiTB phải là "Router"
  - Nếu tên bắt đầu bằng "SW"/"SWL" thì LoaiTB không được là "Router"/"Firewall"
  - Nếu tên bắt đầu bằng "AS" hoặc chứa "ASA" thì LoaiTB phải là "Firewall" hoặc "ASA Firewall"
*/

ALTER   TRIGGER [dbo].[trg_ValidateDeviceTypeByName]
ON [dbo].[ThietBi]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Rule 1: Tên Router thì loại bắt buộc là Router
    IF EXISTS (
        SELECT 1
        FROM inserted i
        WHERE UPPER(LTRIM(RTRIM(ISNULL(i.TenTB, '')))) LIKE 'ROUTER%'
          AND UPPER(LTRIM(RTRIM(ISNULL(i.LoaiTB, '')))) <> 'ROUTER'
    )
    BEGIN
        RAISERROR (N'Thiet bi co ten Router thi LoaiTB bat buoc la Router.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END;

    -- Rule 2: Tên SW/SWL thì không được chọn Router/Firewall
    IF EXISTS (
        SELECT 1
        FROM inserted i
        WHERE (
                UPPER(LTRIM(RTRIM(ISNULL(i.TenTB, '')))) LIKE 'SW %'
             OR UPPER(LTRIM(RTRIM(ISNULL(i.TenTB, '')))) LIKE 'SWL %'
              )
          AND UPPER(LTRIM(RTRIM(ISNULL(i.LoaiTB, '')))) IN ('ROUTER', 'FIREWALL', 'ASA FIREWALL')
    )
    BEGIN
        RAISERROR (N'Thiet bi SW/SWL khong duoc chon loai Router hoac Firewall.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END;

    -- Rule 3: Tên AS/ASA thì bắt buộc là Firewall/ASA Firewall
    IF EXISTS (
        SELECT 1
        FROM inserted i
        WHERE (
                UPPER(LTRIM(RTRIM(ISNULL(i.TenTB, '')))) LIKE 'AS %'
             OR UPPER(LTRIM(RTRIM(ISNULL(i.TenTB, '')))) LIKE '%ASA%'
              )
          AND UPPER(LTRIM(RTRIM(ISNULL(i.LoaiTB, '')))) NOT IN ('FIREWALL', 'ASA FIREWALL')
    )
    BEGIN
        RAISERROR (N'Thiet bi AS/ASA bat buoc chon loai Firewall (hoac ASA Firewall).', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END;
END;
