USE [QuanLyMangVienThong]
GO
/****** Object:  Trigger [dbo].[trg_BlockDeleteDevice]    Script Date: 6/26/2026 3:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ---------------------------------------------------------
   Chi chan khi con NhatKyLoi chua xu ly (DaXuLy=0).
   --------------------------------------------------------- */
ALTER   TRIGGER [dbo].[trg_BlockDeleteDevice]
ON [dbo].[ThietBi]
INSTEAD OF DELETE
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM deleted d
        WHERE EXISTS (
            SELECT 1
            FROM dbo.NhatKyLoi n
            WHERE n.MaTB = d.MaTB
              AND ISNULL(n.DaXuLy, 0) = 0
        )
    )
    BEGIN
        RAISERROR (N'Không thể xóa thiết bị khi còn sự cố chưa xử lý (nhật ký lỗi).', 16, 1);
        RETURN;
    END;

    DECLARE @ctx VARBINARY(128) = ISNULL(
        CONTEXT_INFO(),
        CAST(REPLICATE(0x00, 128) AS VARBINARY(128))
    ),
        @ngat VARBINARY(128) = 0x4E474154;
    SET CONTEXT_INFO @ngat;

    DELETE lk
    FROM dbo.LienKet lk
    JOIN deleted d ON lk.MaTB_Goc = d.MaTB OR lk.MaTB_Dich = d.MaTB;

    DELETE l
    FROM dbo.LoHong l
    JOIN deleted d ON l.MaTB = d.MaTB;

    DELETE c
    FROM dbo.ChiSoHieuSuat c
    JOIN deleted d ON c.MaTB = d.MaTB;

    DELETE n
    FROM dbo.NhatKyLoi n
    JOIN deleted d ON n.MaTB = d.MaTB;

    DELETE t
    FROM dbo.ThietBi t
    JOIN deleted d ON t.MaTB = d.MaTB;

    SET CONTEXT_INFO @ctx;
END;
