USE [QuanLyMangVienThong]
GO
/****** Object:  Trigger [dbo].[trg_BlockDeleteLink_WhenDeviceOn]    Script Date: 6/26/2026 3:47:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ---------------------------------------------------------
   - Trigger DELETE tren bang LienKet.
   - Chan xoa lien ket neu 1 trong 2 thiet bi dang ON
   --------------------------------------------------------- */
ALTER   TRIGGER [dbo].[trg_BlockDeleteLink_WhenDeviceOn]
ON [dbo].[LienKet]
INSTEAD OF DELETE
AS
BEGIN
    SET NOCOUNT ON;

    -- bo qua khi "ngat lien ket"
    IF CONTEXT_INFO() = 0x4E474154
    BEGIN
        DELETE lk
        FROM dbo.LienKet lk
        JOIN deleted d ON lk.MaLK = d.MaLK;
        RETURN;
    END;

    IF EXISTS (
        SELECT 1
        FROM deleted d
        JOIN dbo.ThietBi tb1 ON tb1.MaTB = d.MaTB_Goc
        JOIN dbo.ThietBi tb2 ON tb2.MaTB = d.MaTB_Dich
        WHERE tb1.TrangThai = N'Hoạt động'
           OR tb2.TrangThai = N'Hoạt động'
    )
    BEGIN
        RAISERROR (N'Khong the xoa lien ket khi mot trong hai thiet bi dang ON (Hoat dong).', 16, 1);
        RETURN;
    END;

    DELETE lk
    FROM dbo.LienKet lk
    JOIN deleted d ON lk.MaLK = d.MaLK;
END;
