USE [QuanLyMangVienThong]
GO
/****** Object:  Trigger [dbo].[trg_IncidentHandlingSLA]    Script Date: 6/26/2026 3:45:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   TRIGGER [dbo].[trg_IncidentHandlingSLA]
ON [dbo].[NhatKyLoi]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    RETURN;
END;
