USE [QuanLyMangVienThong]
GO
/****** Object:  Trigger [dbo].[trg_LimitEmployeeIncidentAssignments]    Script Date: 6/26/2026 3:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ---------------------------------------------------------
   - Trigger INSERT/UPDATE tren bang NhatKyLoi.
   - Ngăn chặn nhân viên được gán quá 3 sự cố CHƯA XỬ LÝ.
   - Không chặn thao tác đóng sự cố.
   --------------------------------------------------------- */
ALTER   TRIGGER [dbo].[trg_LimitEmployeeIncidentAssignments]
ON [dbo].[NhatKyLoi]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT TOP 1 nkl.MaNV_XuLy
        FROM dbo.NhatKyLoi nkl
        WHERE nkl.MaNV_XuLy IN (
            SELECT DISTINCT i.MaNV_XuLy
            FROM inserted i
            WHERE i.MaNV_XuLy IS NOT NULL
              AND ISNULL(i.DaXuLy, 0) = 0
        )
          AND ISNULL(nkl.DaXuLy, 0) = 0
        GROUP BY nkl.MaNV_XuLy
        HAVING COUNT(*) > 3
    )
    BEGIN
        RAISERROR (N'Khong the phan cong: moi nhan vien chi duoc nhan toi da 3 su co.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END;
END;
