USE [QuanLyMangVienThong]
GO
/****** Object:  Trigger [dbo].[trg_ValidateVulnerabilityTimes]    Script Date: 6/26/2026 3:47:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ---------------------------------------------------------
   - Trigger INSERT/UPDATE tren bang LoHong.
   - Rang buoc thoi gian:
     + ThoiGianXuLySuCo PHAI sau hoac bang ThoiGianXayRaSuCo.
     + Khoang cach giua 2 cot moc thoi gian KHONG duoc qua 24 gio.
   --------------------------------------------------------- */
ALTER   TRIGGER [dbo].[trg_ValidateVulnerabilityTimes]
ON [dbo].[LoHong]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM inserted i
        WHERE i.ThoiGianXayRaSuCo IS NOT NULL
          AND i.ThoiGianXuLySuCo IS NOT NULL
          AND i.ThoiGianXuLySuCo < i.ThoiGianXayRaSuCo
    )
    BEGIN
        RAISERROR (N'Thoi gian xu ly su co phai sau hoac bang thoi gian xay ra su co.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END;

    IF EXISTS (
        SELECT 1
        FROM inserted i
        WHERE i.ThoiGianXayRaSuCo IS NOT NULL
          AND i.ThoiGianXuLySuCo IS NOT NULL
          AND DATEDIFF(MINUTE, i.ThoiGianXayRaSuCo, i.ThoiGianXuLySuCo) > 1440
    )
    BEGIN
        RAISERROR (N'Thoi gian xu ly su co khong duoc qua 24 gio ke tu thoi gian xay ra su co.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END;
END;
